[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pytest = "*"
twine = "*"
urllib3 = ">=1.24.2"

[packages]
jinja2 = "*"

[requires]
python_version = "2.7"
